@import "tailwindcss";


@theme {

    /* font family */
    --font-primary: "sans-serif";
   
  
    /* screen size */
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
  
  
    /* color */
    --color-primary-1: #7ad03a;
    --color-primary-2: #68d619;
    --color-primary-3: #eee;
    --color-primary-4: #1c1d1e;
    
    /* yellow family */
    --color-secondary-1: #ffba00;
    
  }